@import 'styles/variable.scss';

.contentWrapper {
  .inputWrapper {
    margin: 2rem auto;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    .buttonStyle {
      background: $color-button !important;
      color: #fff !important;
      margin-left: 1rem;
    }
    .buttonCancelStyle {
      background: #c4c4c4 !important;
      color: #fff !important;
    }
  }
}